.venv/
venv/
env/

__pycache__/
*.pyc

.ipynb_checkpoints/

data/raw/*
data/processed_v2/processed_v_2.csv

.vscode/
.idea/

.DS_Store
Thumbs.dbdata/processed_v2/processed_v_2.csv
data/processed_v2/processed_v_2.csv
